{$output}
{$form}

<div class="panel" id="fieldset_1_1">
	<div class="panel-heading">
	   Informacje
	   
	</div>
  <div class="form-wrapper">
    <p>Facebook Messenger Box v1</p>
		<p>Aby Moduł Facebook Messenger Box zadziałał prawidłowo, musisz wykonać następujący krok.</p>
		<p>Wejdź w <strong>Ustawienia</strong> swojej strony na Facebook, następnie znajdź zakładkę:</p>
		<img src="{$module_dir}assets/images/1.jpg" alt="">
		<p>Następnie wprowadź w polu <strong>Whitelisted Domains</strong> adres swojego sklepu - jak na przykładzie poniżej</p>
		<img src="{$module_dir}assets/images/2.jpg" alt="">
  </div>
</div>
